/*****************************************/
/* Block regions */
/*****************************************/

[data-region="blocks-column"] {
    @extend .col-xs-12;
    @extend .col-md-4;
    padding-left: 0;
    padding-right: 0;
    @include media-breakpoint-up(md) {
        padding-left: 30px;
    }
}

/*****************************************/
/* Blocks */
/*****************************************/

.block {
    border-radius: 0;
    margin: 15px 0;
    padding-left: 0;
    padding-right: 0;
    border: solid 1px #e5e5e5;
    border-width: 0 0 0 1px;
    box-shadow: none;
    
    .header {
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
        border: none;
        border-radius: 0;
        color: $brand-primary;
        background-color: #fff;

        h2 {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 15px;
            color: #111;
            font-size: 18px;
            font-weight: bold;
            text-transform: uppercase;
            border-left: solid 3px $brand-primary;
        }

        .block_action {
            padding-right: 15px;
        }
    }
}

/**
 * Blocks.
 */
.block-region .card-block {
    .card-title {
        padding-bottom: ($spacer/2);
    }
}

/**
 * Navigation.
 */
.block_navigation,
.block_settings {
    .block_tree .tree_item {
        margin: ($spacer/2) 0;
    }
}

/*****************************************/
/* Calendar block */
/*****************************************/

.calendar-event-panel {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px;
}