// ---------------------------------------------- \\
// Footer
// ---------------------------------------------- \\

#page-footer {
    margin: 0;
    border: none;
    color: $theme-footer-text-color;
    text-align: left;
    padding: 60px 0;

    .usertour {
        @extend .container;
        margin-top: 20px;
    }
}

.htm-footer {
    position: relative;
    background-color: $gray-darkest;

    &__top {
        position: relative;
        margin-bottom: 20px;
        padding-bottom: 20px;

        .footer-text {
            margin-bottom: 20px;

            @include media-breakpoint-up(md) {
                margin-bottom: 0;
            }
            
            p,
            a,
            ul,
            ul li,
            li {
                color: #999
            }

            a {
                &:hover {
                    color: $brand-primary;
                }
            }

            h3 {
                color: #fff;
                font-size: 16px;
            }

            ul {
                margin-left: 0;
                padding-left: 0;

                li {
                    margin-bottom: 10px;
                    list-style: none;
                }
            }
        }
    }

    &__bottom {
        padding-top: 30px;
        border-top: solid 1px rgba(#999, 0.3);

        p,
        a {
            color: #999;
            font-size: 14px;
        }

        a {
            &:hover {
                color: $brand-primary;
            }
        }

        .helplink,
        #theme_switch_link,
        .purgecaches {
            font-size: 12px;
        }
    }
}

// ---------------------------------------------- \\