// ------------------------------------------ \\
// General Header Styles
// ------------------------------------------ \\

.htm-header {
    @include block-setup;
    position: relative;
    padding: 0;
    background-color: #fff;
    z-index: 1000;
}

// ------------------------------------------ \\
// Header Top bar
// ------------------------------------------ \\

.htm-header__top {
    min-height: 50px;
    background-color: $brand-primary;

    .htm-strapline {
        display: inline-flex;
        align-items: center;
        height: 100%;
        min-height: 50px;

        p {
            width: 100%;
            margin: 0;
            color: #fff;
            text-align: center;

            @include media-breakpoint-up(sm) {
                text-align: left;
            }
        }
    }

    .htm-usermenu {
        display: inline-flex;
        justify-content: center;
        padding-bottom: 10px;

        @include media-breakpoint-up(sm) {
            justify-content: flex-end;
            padding-bottom: 0;
        }
    }
}

// ------------------------------------------ \\
// Header Main Bar
// ------------------------------------------ \\

.htm-header__main {
    
    .row {
        align-items: center;
        min-height: 90px;

        .logo {
            img {
                max-width: 200px;

                @include media-breakpoint-up(md) {
                    max-width: 100%;
                }
            }
        }
    }
}

// ------------------------------------------ \\
// Logo
// ------------------------------------------ \\

.navbar-brand {
    margin: 0;
    padding: 5px 15px;
    .logo {
        float: left;
        h4 {
            margin: 0;
        }
        img {
            max-height: 50px;
        }
    }
}


// ------------------------------------------ \\