
// ------------------------------------------ \\
/* Totara menu */
// ------------------------------------------ \\

.htm-menu {
    display: inline-flex;

    @include media-breakpoint-up(md) {
        justify-content: flex-end; 
    }

    &__toggle {
        display: inline-flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        height: 100%;

        @include media-breakpoint-up(md) {
            display: none;
        }
    }

    .totara-navbar {
        display: none !important; // Set to !important to override default

        @include media-breakpoint-up(md) {
            display: block !important; // Set to !important to override default
        }

        .totara-menu {
            .totara-menu-nav {
                .totara-menu-nav-list{
                    .totara-menu-nav-item {
                        position: relative;

                        .totara-menu-nav-item-link {
                            &:hover {
                                background: none;

                                &:after {
                                    position: absolute;
                                    bottom: -5px;
                                    left: 0;
                                    width: 100%;
                                    height: 2px;
                                    background: $brand-primary;
                                    content: '';
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.navbar {
    border: none;
    border-radius: 0;
    min-height: 50px;
    margin-bottom: 0;
    background-color: #fff;
    .navbar-nav {
        float: right;
        width: 100%;
        margin: 0; 
        @include media-breakpoint-up(sm) {
            width: auto;
        }
    }
}

#totara-navbar {
    width: 100%;
    @include media-breakpoint-up(sm) {
        width: auto;
    }
}

.totara-menu-nav-list {
    .totara-menu-nav-item {
        .totara-menu-nav-item-link {
            border: none;
        }
        &.haschildren {
            .totara-menu-nav-item-link {
                i {
                    margin-left: 10px;
                }
            }
        }
    }
}

// ------------------------------------------ \\
// Responsive nav
// ------------------------------------------ \\

.responsive-nav {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 300px;
    background-color: $gray-darkest;

    @include media-breakpoint-up(md) {
        display: none;
    }

    .totara-navbar {
        display: block !important;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: transparent;

        li {
            background: none;

            a.totara-menu-nav-item-link {
                background-color: transparent !important;
                color: #fff;
            }

            &.haschildren {
                i {
                    display: none;
                }
            }

            > ul {
                position: relative;
                left: 15px;
                border: solid 1px;
                border-width: 0 0 0 1px;
                box-shadow: none !important;

                li {
                    position: relative;

                    &:before {
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translate(0, -50%);
                        width: 15px;
                        margin-right: 10px;
                        border: solid 1px;
                        border-width: 1px 0 0 0;
                        content: '';
                    }

                    a {
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}

// ------------------------------------------ \\
/* Breadcrumbs */
// ------------------------------------------ \\

.breadcrumb-nav {
    margin-bottom: 0;
    .breadcrumb {
        margin: 5px 0;
    }
}

.breadcrumb-button {
    float: right;
    .singlebutton {
        margin-right: 0;
        margin-bottom: 5px;
        margin-top: 5px;
        div {
            margin-right: 0;
            margin-bottom: 0;
            input[type="submit"] {
                margin-bottom: 0; 
            }
        }
    }
}

.breadcrumb-item {
    width: 100%;
    @include media-breakpoint-up(sm) {
        width: auto;
    }
}

// ------------------------------------------ \\
/* Dropdown menus */
// ------------------------------------------ \\


.dropdown-menu {
    font-size: 14px;
    border-radius: 0;
    .dropdown-item {
        border-bottom: $border-width solid $dropdown-border-color;
        &:last-child {
            border-bottom: 0;
        }
        a {
            padding: 8px 15px;
        }
    }
    .dropdown-item-icon {
        float: left;
        width: 25px;
    }
    .dropdown-item-text {
        float: left;
        width: calc(100% - 25px);
    }
    .dropdown-divider {
        display: none;
    }
}

.context-header-settings-menu {
    .action-menu {
        white-space: initial;
    }
    .dropdown-menu {
        width: 260px;
        .dropdown-item {
            white-space: inherit;
            padding: 0;
        }
    }
}

.dropdown-item-text {
    display: inline-block;
}