
// ------------------------------------------ \\
// Popover regions
// ------------------------------------------ \\

.popover-region {
    margin: 0;
    display: none;
    z-index: 1000;
    @include media-breakpoint-up(md) {
        display: block;
    }
    &.collapsed {
        .popover-region-toggle {
            &:after {
                bottom: -20px;
                opacity: 0;
                display: block;
                transition: all .15s ease-in-out;
            }
        }
        .popover-region-container {
            height: auto;
            top: 79px;
            transition: all .15s ease-in-out;
        }
    }

    .popover-region-toggle {
        display: inline-flex;
        align-items: center;
        width: auto;
        min-height: 50px;
        padding: 0 10px;

        .flex-icon {
            color: #fff;
        }

        .fa {
            margin-right: 0;
            color: #fff;
        }

        &:before {
            display: none;
        }

        &:after {
            bottom: -10px;
            right: 10px;
            border-bottom-color: $brand-primary-dark;
            opacity: 1;
            transition: all .15s ease-in-out;
            z-index: 1;
        }
    }

    > .popover-region-container {
        top: 60px;
        right: 0;
        border: 5px solid $brand-primary-dark;
        border-width: 5px 0;
        border-radius: 5px;
        transition: all .15s ease-in-out;
    }
}

.popover-region-container {
    height: auto;
    .popover-region-header-container {
        float: left;
        width: 100%;
        height: auto;
        .popover-region-header-text {
            font-size: 20px;
            padding: 10px 15px;
        }
        .popover-region-header-actions {
            padding: 10px 15px;
            .newmessage-link {
                margin-right: 0;
            }
        }
    }
    .popover-region-content-container {
        background-color: #f5f5f5;
    }
    .popover-region-footer-container {
        height: auto;
        text-align: left;
        padding: 5px 15px;
        font-size: 14px;
        .fa {
            padding-left: 5px;
        }
    }
}

.count-container {
    height: 14px;
    width: 14px;
    padding: 1px;
    text-align: center;
    top: 15px;
    right: 15px;
    border-radius: 100%;
    background-color: #d2232a;
}

.popover-region-messages {
    .content-item-container {
        padding: 15px;
        border-bottom: solid 1px #d8d8d8;
        color: $gray-dark;
        &:hover {
            background-color: $brand-primary;
            color: #fff;
        }
        &.unread {
            &:hover {
                background-color: $brand-primary;
                color: #fff;
            }
            .unread-count-container {
                float: none;
                position: absolute;
                left: 27px;
                top: 10px;
                > span {
                    width: 18px;
                    height: 18px;
                    border-radius: 100%;
                }
            }
            .content-item-body {
                width: calc(100% - 35px);
            }
        }
    }
    .content-item-body {
        width: calc(100% - 35px);
        padding-left: 15px;
        h3 {
            font-size: 14px;
            line-height: 14px;
            color: inherit;
        }
        p {
            font-size: 12px;
        }
    }
    .profile-image-container {
        width: 35px;
    }
}