// ------------------------------------------ \\
// Slider wrapper
// ------------------------------------------ \\

#fpSlider {
    padding: $slider-padding;
    background-color: $slider-background-colour;
    min-height: $slider-height;
    .carousel-inner {
        height: 100%;
    }

}

// ------------------------------------------ \\
// Slides
// ------------------------------------------ \\

.carousel-inner {
    .item {
        height: 100%;
        background-position: $slide-background-position;
        background-size: $slide-background-size;

        &__image {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            min-height: $slider-height;
        }
        &__overlay {
            @include absolute-position(0, 0, 0, 0);
            background-color: $slide-overlay-color;
            opacity: $slide-overlay-opacity;
            z-index: 100;
        }

        &__content {
            display: block;
            width: 100%;
            text-align: $slide-text-align;
            z-index: 200;
            color: $gray-dark;

            @include centraliser-v; /* stylelint-disable-line */

            h1,
            h2 {
                color: $slide-title-colour;
            }

            h1 {
                font-size:42px;
                font-weight: bold;
            }

            h2 {
                font-family: $font-main;
                font-size: 24px;
                font-weight: 400;
            }

            .btn {
                padding: $slide-button-padding;
                color: $slide-button-text-colour;
                border: $slide-button-border;
                border-radius: $slide-button-border-radius;
                background-color: $slide-button-background-colour;
                text-transform: $slide-button-text-transform;
                letter-spacing: $slide-button-text-letter-spacing;
                font-weight: $slide-button-text-font-weight;
            }

            &__form {
                form {
                    display: block;
                    width: 100%;
                    max-width: 600px;
                    margin: auto auto 20px auto;

                    .fitem_ftext {
                        width: 100%;
                    
                        .fitemtitle {
                            width: 100%;
                        }

                        .felement {
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            width: 100%;

                            input[type="text"],
                            input[type="submit"],
                            button {
                                height: 52px;
                                border: none;
                                border-radius: 0;
                            }

                            input[type="text"] {
                                width: calc(100% - 50px);
                                max-width: 100%;
                            }

                            button,
                            input[type="submit"] {
                                width: 50px;
                                margin: 0;
                                color: #fff;
                                background-color: #111;
                            }
                        }
                    }
                }
            }

            &__summary {
                color: #111;
                font-size: 15px;
            }
        }
    }
}

// ------------------------------------------ \\

.carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
        }

        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }
}


.carousel-control {
    &.right,
    &.left {
        background: none;
    }
    svg,
    i {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
    }
}