// ---------------------------------------------- \\
// Global Styles
// ---------------------------------------------- \\

body {
    font-family: $font-main;
}

// ---------------------------------------------- \\
// Links
// ---------------------------------------------- \\

a {
    color: $link-color;
    text-decoration: $link-decoration;
    &:focus,
    &:hover {
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
    }
}


// ---------------------------------------------- \\
// Headings
// ---------------------------------------------- \\

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 30px;
    color: #111;
    font-family: $font-headings;
    font-weight: bold;
}

h2 {

}

// ---------------------------------------------- \\
// Paragraphs
// ---------------------------------------------- \\

p {
    font-size: 15px;
    line-height: 25.5px;
}

// ---------------------------------------------- \\