// ------------------------------------------ \\
// User menu
// ------------------------------------------ \\

.usermenu {
    display: inline-flex;
    align-items: center;
    height: 100%;
    padding: 0 20px;

    .moodle-actionmenu {

        > ul {
            li {
                a {
                    color: #fff;
                }    
            }
        }

        ul.menu {
            li {
                a {
                    &:hover {
                        background-color: $brand-primary !important;
                    }
                }
            }
        }
    }

    .login {
        float: left;
        padding-top: 10px;
    }


}