// ------------------------------------------ \\
// User menu
// ------------------------------------------ \\

.usermenu {
    height: 60px;
    padding: 0 0 0 20px;
    border-left: solid 1px #f5f5f5;

    .moodle-actionmenu {
        margin-top: 12px;
    }

    .login {
        float: left;
        padding-top: 10px;
    }
}