/*****************************************/
/* Frontpage */
/*****************************************/

.pagelayout-frontpage {
    .fpc-section {
        
    }
    
    .quicklink-section {
        padding-top: 60px;
    }

    @include media-breakpoint-up(sm) {
        [data-region="blocks-column"] {
            padding-left: 0;
        }
    }

    #region-main {
        background-color: transparent;
        border: none;
        padding: 0;
        margin-top: 40px;
    }

    .course-item__inner {
        background-color: $theme-content-background-color;
    }

    .courses-title {
        &:after {
            display: block;
            width: 35px;
            height: 1px;
            margin: 20px 0;
            background-color: #111;
            content: '';
        }
    }

    // Frontpage course list
    #frontpage-course-list {
        margin-bottom: 40px;
        
        > h2 {
            display: none;
        }
    }

    .fp-blocks {
        display: block;
        width: 100%;
    
        // Frontpage blocks
        #block-region-side-pre {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;

            .block {
                width: 100%;
                //padding: 0 10px;
                @include media-breakpoint-up(lg) {
                    max-width: 25%;
                }
            }
        }
    }
}
