/*****************************************/
/* Login page */
/*****************************************/

body#page-login-index {
    margin: 0;
    padding: 0;
    background-image: $loginbackground;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    .page-wrapper {
        padding-top: 60px;
        #page {
            margin-top: 0;
        }
    }
    #region-main {
        background-color: transparent;
        border: none;
    }
}

.loginbox {
    margin-top: 100px;
    margin-bottom: 100px !important; // Set to !important to make sure it overrides

    &.onecolumn {
        background: #fff;
        border: none;
        border-radius: 0;
        
        .loginpanel {
            position: relative;
            min-height: 1px;
            padding-left: 15px;
            padding-right: 15px;
            min-height: 20px;
            padding: 19px;
            
        }
    }
}
