<!-- Quicklinks -->
<section class="quicklink-section" style="background-color: {{bgcolor}};">
    <div class="container">
        <div class="row">
            <div class="quicklinks d-flex flex-row flex-wrap">
                {{> theme_sleat/component-quicklinks-item}}
            </div>
        </div>
    </div>
</section>