{{#items}}
    {{#data}}
        <div class="col-xs-12 col-sm-6 col-md-4 quicklink-item" {{#textcolour}}style="color: {{textcolour}}"{{/textcolour}}>
            {{#url}}
                <a href="{{{url}}}">
            {{/url}}
            {{#hasimg}}
                <div class="quicklink-image" style="background-image: url({{{image}}}); background-size: {{{imagetype}}}; width: {{{imagewidth}}}; height: {{{imageheight}}}"></div>
            {{/hasimg}}
                <h3 class="text-center">{{{title}}}</h3>
                <p class="text-center">
                    {{{text}}}
                </p>
            {{#url}}
                </a>
            {{/url}}
        </div>
    {{/data}}
{{/items}}