<a class="carousel-control left" href="#fpSlider" role="button" data-slide="prev">
    <i class="fa fa-angle-left"></i>
</a>
<a class="carousel-control right" href="#fpSlider" role="button" data-slide="next">
    <i class="fa fa-angle-right"></i>
</a>