<!-- Frontpage Content Section -->
<section class="wrapper fpc-section" style="background-color: {{bgcolor}};">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>{{{title}}}</h2>
            </div>
            <div class="col-md-8">
                {{{text}}}
            </div>
        </div>
    </div>
</section>