<head>
    <title> {{{output.page_title}}}</title>
    <link rel="shortcut icon" href="{{{ output.favicon }}}" />
     {{{output.standard_head_html}}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
    {{>theme_sleat/fonts}}
</head>