<header role="banner" class="htm-header {{#hasheaderlogo}}has-logo{{/hasheaderlogo}}">

    <div class="container">
        <div class="row">
            <div class="pull-left">
                <!-- Logo -->
                <a href="{{{ config.wwwroot }}}" class="navbar-brand {{# output.should_display_navbar_logo }}has-logo{{/ output.should_display_navbar_logo }}
                    {{^ output.should_display_navbar_logo }}
                        hidden-sm-down
                    {{/ output.should_display_navbar_logo }}
                ">
                    <span class="logo">
                        {{#hasheaderlogo}}
                            <img src="{{headerlogo}}" alt="{{logo_alt}}">
                        {{/hasheaderlogo}}
                        {{^hasheaderlogo}}
                            <h4>
                                {{sitename}}
                            </h4>
                        {{/hasheaderlogo}}
                    </span>
                
                </a>
            </div>
            <div class="pull-right">
                <div class="col-xs-12">
                    <div class="pull-left">
                        <!-- user_menu -->
                        {{{ output.user_menu }}}

                        <!-- navbar_plugin_output -->
                        {{{ output.navbar_plugin_output }}}

                        <!-- Search Form -->
                        <div class="htm-header__search">
                            {{{ output.search_box }}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="menu">
                <div class="navbar-header pull-left">
                    {{{ output.navbar_button }}}
                </div>
                <nav class='navbar navbar-collapse-custom'>
                    {{{totaramenu}}}
                </nav>
            </div>
        </div>
    </div>
</header>