{{#data}}
    {{#image}}
        <div class="logo-item">
            <figure>
                <div class="logo-img" style="background-image: url({{{image}}});">
            </figure>
        </div>
    {{/image}}
{{/data}}