{{!
    @template theme_sleat/maintenance

    maintenance layout template.
}}

{{{ output.doctype }}}

<html {{{output.htmlattributes}}}>

{{>theme_sleat/head}}

<body {{{ bodyattributes }}}>

{{{output.standard_top_of_body_html}}}

<div id="page" class="container-fluid">

    <header id="page-header" class="clearfix">
        {{{ output.page_heading }}}
    </header>

    <div id="page-content" class="row">
        <section id="region-main" class="col-xs-12">
            {{{ output.main_content }}}
        </section>
    </div>
</div>

<footer id="page-footer" class="page-footer">
    <div class="container-fluid page-footer-main-content">
        {{{ output.standard_footer_html }}}
    </div>
</footer>
{{{ output.standard_end_of_body_html }}}
</body>
</html>
